A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              text-decoration:none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            text-decoration:none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             text-decoration:none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
windowtext; LI.p { 
                  font-size:11.0pt; 
                  font-family:Times New Roman; 
                  color:windowtext;  }
h1 { 
    margin-top:6.0pt; 
    margin-right:0in; 
    margin-bottom:6.0pt; 
    margin-left:0in; 
    punctuation-wrap:simple; 
    text-autospace:none; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold; 
    font-size:14pt;  }
LI.h1 { 
       punctuation-wrap:simple; 
       text-autospace:none; 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold; 
       font-size:14pt;  }
h2 { 
    margin-top:12.0pt; 
    margin-right:0in; 
    margin-bottom:6.0pt; 
    margin-left:0in; 
    punctuation-wrap:simple; 
    text-autospace:none; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold; 
    font-size:14pt;  }
LI.h2 { 
       punctuation-wrap:simple; 
       text-autospace:none; 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold; 
       font-size:14pt;  }
h3 { 
    margin-top:12.0pt; 
    margin-right:0in; 
    margin-bottom:6.0pt; 
    margin-left:0in; 
    font-size:14.0pt; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold;  }
LI.h3 { 
       font-size:14.0pt; 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold;  }
h4 { 
    margin-top:9.0pt; 
    margin-right:0in; 
    margin-bottom:9.0pt; 
    margin-left:0in; 
    punctuation-wrap:simple; 
    text-autospace:none; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold; 
    font-size:14pt;  }
LI.h4 { 
       punctuation-wrap:simple; 
       text-autospace:none; 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold; 
       font-size:14pt;  }
h5 { 
    margin-top:12.0pt; 
    margin-right:0in; 
    margin-bottom:12.0pt; 
    margin-left:0in; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold; 
    font-size:14pt;  }
LI.h5 { 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold; 
       font-size:14pt;  }
h6 { 
    margin-top:12.0pt; 
    margin-right:0in; 
    margin-bottom:6.0pt; 
    margin-left:0in; 
    font-size:12.0pt; 
    font-family:Arial; 
    color:windowtext; 
    font-weight:bold;  }
LI.h6 { 
       font-size:12.0pt; 
       font-family:Arial; 
       color:windowtext; 
       font-weight:bold;  }
p.Heading7 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:6.0pt; 
            margin-left:0in; 
            punctuation-wrap:simple; 
            text-autospace:none; 
            font-size:11.0pt; 
            font-family:Times New Roman; 
            color:windowtext; 
            font-weight:bold;  }
LI.p-Heading7 { 
               punctuation-wrap:simple; 
               text-autospace:none; 
               font-size:11.0pt; 
               font-family:Times New Roman; 
               color:windowtext; 
               font-weight:bold;  }
p.Heading8 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:6.0pt; 
            margin-left:0in; 
            punctuation-wrap:simple; 
            text-autospace:none; 
            font-size:10.0pt; 
            font-family:Arial; 
            color:windowtext; 
            font-weight:bold;  }
LI.p-Heading8 { 
               punctuation-wrap:simple; 
               text-autospace:none; 
               font-size:10.0pt; 
               font-family:Arial; 
               color:windowtext; 
               font-weight:bold;  }
p.Heading9 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:6.0pt; 
            margin-left:0in; 
            punctuation-wrap:simple; 
            text-autospace:none; 
            font-size:11.0pt; 
            font-family:Times New Roman; 
            color:windowtext; 
            font-style:italic;  }
LI.p-Heading9 { 
               punctuation-wrap:simple; 
               text-autospace:none; 
               font-size:11.0pt; 
               font-family:Times New Roman; 
               color:windowtext; 
               font-style:italic;  }
p.Index1 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:11.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index1 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index2 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:22.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index2 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index3 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:33.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index3 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index4 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:44.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index4 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index5 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:55.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index5 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index6 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:66.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index6 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index7 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:77.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index7 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index8 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:88.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index8 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Index9 { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:.0001pt; 
          margin-left:99.0pt; 
          text-indent:-11.0pt; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Index9 { 
             text-indent:-11.0pt; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Toc1 { 
        margin-top:12.0pt; 
        margin-right:0in; 
        margin-bottom:6.0pt; 
        margin-left:0in; 
        font-size:14.0pt; 
        font-family:Arial; 
        font-variant:small-caps; 
        color:windowtext; 
        font-weight:bold;  }
LI.p-Toc1 { 
           font-size:14.0pt; 
           font-family:Arial; 
           font-variant:small-caps; 
           color:windowtext; 
           font-weight:bold;  }
p.Toc2 { 
        margin-top:6.0pt; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:.25in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext; 
        font-weight:bold;  }
LI.p-Toc2 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext; 
           font-weight:bold;  }
p.Toc3 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:.5in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc3 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.Toc4 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:.75in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc4 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.Toc5 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:1.0in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc5 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.Toc6 { 
        margin-top:6.0pt; 
        margin-right:0in; 
        margin-bottom:6.0pt; 
        margin-left:0in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext; 
        font-weight:bold;  }
LI.p-Toc6 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext; 
           font-weight:bold;  }
p.Toc7 { 
        margin-top:12.0pt; 
        margin-right:0in; 
        margin-bottom:6.0pt; 
        margin-left:0in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc7 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.Toc8 { 
        margin-top:12.0pt; 
        margin-right:0in; 
        margin-bottom:6.0pt; 
        margin-left:0in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc8 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.Toc9 { 
        margin-top:6.0pt; 
        margin-right:0in; 
        margin-bottom:6.0pt; 
        margin-left:.25in; 
        punctuation-wrap:simple; 
        text-autospace:none; 
        font-size:11.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-Toc9 { 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.FootnoteText { 
                margin:0in; 
                margin-bottom:.0001pt; 
                punctuation-wrap:simple; 
                text-autospace:none; 
                font-size:10.0pt; 
                font-family:Times New Roman; 
                color:windowtext;  }
LI.p-FootnoteText { 
                   punctuation-wrap:simple; 
                   text-autospace:none; 
                   font-size:10.0pt; 
                   font-family:Times New Roman; 
                   color:windowtext;  }
p.CommentText { 
               margin-top:0in; 
               margin-right:0in; 
               margin-bottom:6.0pt; 
               margin-left:.75in; 
               punctuation-wrap:simple; 
               text-autospace:none; 
               font-size:10.0pt; 
               font-family:Arial; 
               color:windowtext;  }
LI.p-CommentText { 
                  punctuation-wrap:simple; 
                  text-autospace:none; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:windowtext;  }
p.Header { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:6.0pt; 
          margin-left:0in; 
          punctuation-wrap:simple; 
          text-autospace:none; 
          color:windowtext; 
          font-size:10pt; 
          font-family:Arial, sans-serif;  }
LI.p-Header { 
             punctuation-wrap:simple; 
             text-autospace:none; 
             color:windowtext; 
             font-size:10pt; 
             font-family:Arial, sans-serif;  }
p.Footer { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:6.0pt; 
          margin-left:0in; 
          punctuation-wrap:simple; 
          text-autospace:none; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Footer { 
             punctuation-wrap:simple; 
             text-autospace:none; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.IndexHeading { 
                margin-top:12.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                text-align:center; 
                font-size:11.0pt; 
                font-family:Times New Roman; 
                color:windowtext; 
                font-weight:bold;  }
LI.p-IndexHeading { 
                   text-align:center; 
                   font-size:11.0pt; 
                   font-family:Times New Roman; 
                   color:windowtext; 
                   font-weight:bold;  }
p.Caption { 
           margin-top:6.0pt; 
           margin-right:0in; 
           margin-bottom:12.0pt; 
           margin-left:0in; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext; 
           font-weight:bold; 
           font-style:italic;  }
LI.p-Caption { 
              font-size:11.0pt; 
              font-family:Arial; 
              color:windowtext; 
              font-weight:bold; 
              font-style:italic;  }
p.TableofFiguresMatrices { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:22.0pt; 
                          text-indent:-22.0pt; 
                          font-size:11.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-TableofFiguresMatrices { 
                             text-indent:-22.0pt; 
                             font-size:11.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.EnvelopeReturn { 
                  margin-top:0in; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:0in; 
                  font-size:11.0pt; 
                  font-family:Times New Roman; 
                  color:windowtext;  }
LI.p-EnvelopeReturn { 
                     font-size:11.0pt; 
                     font-family:Times New Roman; 
                     color:windowtext;  }
span.FootnoteReference { 
                        vertical-align:super;  }
p.ListBullet { 
              margin-top:0in; 
              margin-right:0in; 
              margin-bottom:6.0pt; 
              margin-left:.25in; 
              text-indent:-.25in; 
              font-size:11.0pt; 
              font-family:Times New Roman; 
              color:windowtext;  }
LI.p-ListBullet { 
                 text-indent:-.25in; 
                 font-size:11.0pt; 
                 font-family:Times New Roman; 
                 color:windowtext;  }
p.Title { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:6.0pt; 
         margin-left:0in; 
         text-align:center; 
         font-size:14.0pt; 
         font-family:Times; 
         color:windowtext; 
         font-weight:bold; 
         text-underline:single; 
         text-decoration:underline;  }
LI.p-Title { 
            text-align:center; 
            font-size:14.0pt; 
            font-family:Times; 
            color:windowtext; 
            font-weight:bold; 
            text-underline:single; 
            text-decoration:underline;  }
p.BodyTextCharBodyTextCharBodyTextChar1CharBodyTextCharCharCharBodyTextChar1CharCharCharBodyTextCharCharCharCharCharCharCharCharCharCharCharCharChar1 { 
                                                                                                                                                       margin-top:0in; 
                                                                                                                                                       margin-right:0in; 
                                                                                                                                                       margin-bottom:6.0pt; 
                                                                                                                                                       margin-left:.5in; 
                                                                                                                                                       font-size:11.0pt; 
                                                                                                                                                       font-family:Times New Roman; 
                                                                                                                                                       color:windowtext;  }
LI.p-BodyTextCharBodyTextCharBodyTextChar1CharBodyTextCharCharCharBodyTextChar1CharCharCharBodyTextCharCharCharCharCharCharCharCharCharCharCharCharChar1 { 
                                                                                                                                                          font-size:11.0pt; 
                                                                                                                                                          font-family:Times New Roman; 
                                                                                                                                                          color:windowtext;  }
p.BodyTextIndent { 
                  margin-top:0in; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:.5in; 
                  punctuation-wrap:simple; 
                  text-autospace:none; 
                  font-size:11.0pt; 
                  font-family:Times New Roman; 
                  color:windowtext;  }
LI.p-BodyTextIndent { 
                     punctuation-wrap:simple; 
                     text-autospace:none; 
                     font-size:11.0pt; 
                     font-family:Times New Roman; 
                     color:windowtext;  }
p.Subtitle { 
            margin-top:97.0pt; 
            margin-right:0in; 
            margin-bottom:.0001pt; 
            margin-left:0in; 
            text-align:center; 
            line-height:10.0pt; 
            border:none; 
            padding:0in; 
            font-size:9.0pt; 
            font-family:Garamond; 
            color:#808080; 
            text-transform:uppercase; 
            letter-spacing:1.5pt; 
            font-weight:bold;  }
LI.p-Subtitle { 
               text-align:center; 
               line-height:10.0pt; 
               font-size:9.0pt; 
               font-family:Garamond; 
               color:#808080; 
               text-transform:uppercase; 
               letter-spacing:1.5pt; 
               font-weight:bold;  }
p.BodyTextFirstIndent { 
                       margin-top:0in; 
                       margin-right:0in; 
                       margin-bottom:6.0pt; 
                       margin-left:0in; 
                       text-indent:10.5pt; 
                       font-size:11.0pt; 
                       font-family:Times New Roman; 
                       color:windowtext;  }
LI.p-BodyTextFirstIndent { 
                          text-indent:10.5pt; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
p.BodyText2 { 
             margin-top:0in; 
             margin-right:0in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             font-size:10.0pt; 
             font-family:Times; 
             color:#000000;  }
LI.p-BodyText2 { 
                font-size:10.0pt; 
                font-family:Times; 
                color:#000000;  }
p.BodyText3 { 
             margin-top:0in; 
             margin-right:0in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             font-size:11.0pt; 
             font-family:Times; 
             color:#000000;  }
LI.p-BodyText3 { 
                font-size:11.0pt; 
                font-family:Times; 
                color:#000000;  }
p.BlockText { 
             margin-top:0in; 
             margin-right:.75in; 
             margin-bottom:6.0pt; 
             margin-left:.75in; 
             punctuation-wrap:simple; 
             text-autospace:none; 
             border:none; 
             padding:0in; 
             font-size:10.0pt; 
             font-family:Arial; 
             color:windowtext;  }
LI.p-BlockText { 
                punctuation-wrap:simple; 
                text-autospace:none; 
                font-size:10.0pt; 
                font-family:Arial; 
                color:windowtext;  }
a:link { 
        font-family:Arial; 
        color:#0000ff; 
        text-underline:single; 
        text-decoration:underline;  }
span.Hyperlink { 
                font-family:Arial; 
                color:#0000ff; 
                text-underline:single; 
                text-decoration:underline;  }
a:visited { 
           color:#800080; 
           text-underline:single; 
           text-decoration:underline;  }
span.HyperlinkFollowed { 
                        color:#800080; 
                        text-underline:single; 
                        text-decoration:underline;  }
p.DocumentMap { 
               margin-top:0in; 
               margin-right:0in; 
               margin-bottom:6.0pt; 
               margin-left:0in; 
               background:#000080; 
               font-size:11.0pt; 
               font-family:Tahoma; 
               color:windowtext;  }
LI.p-DocumentMap { 
                  font-size:11.0pt; 
                  font-family:Tahoma; 
                  color:windowtext;  }
p.PlainText { 
             margin-top:0in; 
             margin-right:0in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             font-size:10.0pt; 
             font-family:Courier New; 
             color:windowtext;  }
LI.p-PlainText { 
                font-size:10.0pt; 
                font-family:Courier New; 
                color:windowtext;  }
p.WordNormalWeb { 
                 margin-right:0in; 
                 margin-left:0in; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:#000000;  }
LI.p-WordNormalWeb { 
                    font-size:10.0pt; 
                    font-family:Verdana; 
                    color:#000000;  }
p.Acetate { 
           margin-top:0in; 
           margin-right:0in; 
           margin-bottom:6.0pt; 
           margin-left:0in; 
           font-size:8.0pt; 
           font-family:Tahoma; 
           color:windowtext;  }
LI.p-Acetate { 
              font-size:8.0pt; 
              font-family:Tahoma; 
              color:windowtext;  }
p.subhead { 
           margin-top:9.0pt; 
           margin-right:0in; 
           margin-bottom:9.0pt; 
           margin-left:0in; 
           punctuation-wrap:simple; 
           text-autospace:none; 
           font-size:14.0pt; 
           font-family:Arial; 
           color:windowtext; 
           font-style:italic;  }
LI.p-subhead { 
              punctuation-wrap:simple; 
              text-autospace:none; 
              font-size:14.0pt; 
              font-family:Arial; 
              color:windowtext; 
              font-style:italic;  }
p.xl38 { 
        margin-right:0in; 
        margin-left:0in; 
        border:none; 
        padding:0in; 
        font-size:11.0pt; 
        font-family:Times New Roman; 
        color:windowtext;  }
LI.p-xl38 { 
           font-size:11.0pt; 
           font-family:Times New Roman; 
           color:windowtext;  }
p.Address { 
           margin-top:0in; 
           margin-right:0in; 
           margin-bottom:2.0pt; 
           margin-left:0in; 
           font-size:11.0pt; 
           font-family:Arial Narrow; 
           color:windowtext;  }
LI.p-Address { 
              font-size:11.0pt; 
              font-family:Arial Narrow; 
              color:windowtext;  }
p.TitleDocument { 
                 margin-top:6.0pt; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:0in; 
                 text-align:center; 
                 font-size:24.0pt; 
                 font-family:Arial; 
                 color:windowtext; 
                 letter-spacing:.3pt; 
                 font-weight:bold;  }
LI.p-TitleDocument { 
                    text-align:center; 
                    font-size:24.0pt; 
                    font-family:Arial; 
                    color:windowtext; 
                    letter-spacing:.3pt; 
                    font-weight:bold;  }
p.Default { 
           margin:0in; 
           margin-bottom:.0001pt; 
           text-autospace:none; 
           font-size:12.0pt; 
           font-family:Arial; 
           color:#000000;  }
LI.p-Default { 
              text-autospace:none; 
              font-size:12.0pt; 
              font-family:Arial; 
              color:#000000;  }
p.Codeexampleoneline { 
                      margin-top:0in; 
                      margin-right:0in; 
                      margin-bottom:16.0pt; 
                      margin-left:.5in; 
                      font-size:10.0pt; 
                      font-family:Courier New; 
                      color:windowtext; 
                      letter-spacing:-.2pt;  }
LI.p-Codeexampleoneline { 
                         font-size:10.0pt; 
                         font-family:Courier New; 
                         color:windowtext; 
                         letter-spacing:-.2pt;  }
p.Codeexample { 
               margin-top:0in; 
               margin-right:0in; 
               margin-bottom:2.0pt; 
               margin-left:.5in; 
               font-size:10.0pt; 
               font-family:Courier New; 
               color:windowtext; 
               letter-spacing:-.2pt;  }
LI.p-Codeexample { 
                  font-size:10.0pt; 
                  font-family:Courier New; 
                  color:windowtext; 
                  letter-spacing:-.2pt;  }
p.Bodytextbeforebullet { 
                        margin-top:0in; 
                        margin-right:0in; 
                        margin-bottom:8.0pt; 
                        margin-left:.5in; 
                        font-size:11.0pt; 
                        font-family:Times New Roman; 
                        color:windowtext;  }
LI.p-Bodytextbeforebullet { 
                           font-size:11.0pt; 
                           font-family:Times New Roman; 
                           color:windowtext;  }
p.Bodytextbeforeothe { 
                      margin-top:0in; 
                      margin-right:0in; 
                      margin-bottom:.25in; 
                      margin-left:.5in; 
                      font-size:11.0pt; 
                      font-family:Times New Roman; 
                      color:windowtext;  }
LI.p-Bodytextbeforeothe { 
                         font-size:11.0pt; 
                         font-family:Times New Roman; 
                         color:windowtext;  }
p.Tablecolumnhead { 
                   margin-top:0in; 
                   margin-right:0in; 
                   margin-bottom:2.0pt; 
                   margin-left:0in; 
                   font-size:10.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:bold;  }
LI.p-Tablecolumnhead { 
                      font-size:10.0pt; 
                      font-family:Arial; 
                      color:windowtext; 
                      font-weight:bold;  }
p.Tabletext { 
             margin-top:0in; 
             margin-right:0in; 
             margin-bottom:3.0pt; 
             margin-left:0in; 
             font-size:10.0pt; 
             font-family:Arial; 
             color:windowtext;  }
LI.p-Tabletext { 
                font-size:10.0pt; 
                font-family:Arial; 
                color:windowtext;  }
p.Tablebullet { 
               margin-top:0in; 
               margin-right:0in; 
               margin-bottom:2.0pt; 
               margin-left:18.7pt; 
               text-indent:-9.35pt; 
               font-size:10.0pt; 
               font-family:Arial; 
               color:windowtext;  }
LI.p-Tablebullet { 
                  text-indent:-9.35pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:windowtext;  }
p.Bullet { 
          margin-top:0in; 
          margin-right:0in; 
          margin-bottom:6.0pt; 
          margin-left:.5in; 
          text-indent:-.15in; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Bullet { 
             text-indent:-.15in; 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.Bulletlast { 
              margin-top:0in; 
              margin-right:0in; 
              margin-bottom:12.0pt; 
              margin-left:.5in; 
              text-indent:-.15in; 
              font-size:11.0pt; 
              font-family:Times New Roman; 
              color:windowtext;  }
LI.p-Bulletlast { 
                 text-indent:-.15in; 
                 font-size:11.0pt; 
                 font-family:Times New Roman; 
                 color:windowtext;  }
p.subsubhead { 
              margin-top:12.0pt; 
              margin-right:0in; 
              margin-bottom:9.0pt; 
              margin-left:0in; 
              punctuation-wrap:simple; 
              text-autospace:none; 
              font-size:13.0pt; 
              font-family:Arial; 
              color:windowtext; 
              font-weight:bold; 
              font-style:italic;  }
LI.p-subsubhead { 
                 punctuation-wrap:simple; 
                 text-autospace:none; 
                 font-size:13.0pt; 
                 font-family:Arial; 
                 color:windowtext; 
                 font-weight:bold; 
                 font-style:italic;  }
p.specialist { 
              margin-top:12.0pt; 
              margin-right:0in; 
              margin-bottom:6.0pt; 
              margin-left:.5in; 
              font-size:11.0pt; 
              font-family:Arial; 
              color:windowtext; 
              font-weight:bold;  }
LI.p-specialist { 
                 font-size:11.0pt; 
                 font-family:Arial; 
                 color:windowtext; 
                 font-weight:bold;  }
p.table { 
         margin:0in; 
         margin-bottom:.0001pt; 
         text-autospace:none; 
         font-size:9.0pt; 
         font-family:Arial; 
         color:windowtext;  }
LI.p-table { 
            text-autospace:none; 
            font-size:9.0pt; 
            font-family:Arial; 
            color:windowtext;  }
p.cente { 
         margin-right:0in; 
         margin-left:0in; 
         line-height:8.05pt; 
         font-size:6.5pt; 
         font-family:Arial; 
         color:#000000;  }
LI.p-cente { 
            line-height:8.05pt; 
            font-size:6.5pt; 
            font-family:Arial; 
            color:#000000;  }
p.Codeexamplelastline { 
                       margin-top:0in; 
                       margin-right:0in; 
                       margin-bottom:6.0pt; 
                       margin-left:.75in; 
                       font-size:10.0pt; 
                       font-family:Courier New; 
                       color:windowtext; 
                       letter-spacing:-.2pt;  }
LI.p-Codeexamplelastline { 
                          font-size:10.0pt; 
                          font-family:Courier New; 
                          color:windowtext; 
                          letter-spacing:-.2pt;  }
span.text3 {  }
span.text2 {  }
span.regtext1 { 
               font-family:Arial; 
               color:#000000;  }
p.centerbold { 
              margin-right:0in; 
              margin-left:0in; 
              font-size:7.0pt; 
              font-family:Arial Unicode MS; 
              color:windowtext; 
              font-weight:bold;  }
LI.p-centerbold { 
                 font-size:7.0pt; 
                 font-family:Arial Unicode MS; 
                 color:windowtext; 
                 font-weight:bold;  }
span.bodytextmed3highlighted1 { 
                               font-family:Arial; 
                               color:#000000; 
                               font-weight:bold;  }
p.third { 
         margin-top:12.0pt; 
         margin-right:0in; 
         margin-bottom:3.0pt; 
         margin-left:0in; 
         punctuation-wrap:simple; 
         text-autospace:none; 
         font-size:12.0pt; 
         font-family:Avenir 45; 
         color:#800000; 
         font-weight:bold;  }
LI.p-third { 
            punctuation-wrap:simple; 
            text-autospace:none; 
            font-size:12.0pt; 
            font-family:Avenir 45; 
            color:#800000; 
            font-weight:bold;  }
p.txtmedbluedarkbold { 
                      margin-right:0in; 
                      margin-left:0in; 
                      font-size:8.0pt; 
                      font-family:Verdana; 
                      color:#000066; 
                      font-weight:bold;  }
LI.p-txtmedbluedarkbold { 
                         font-size:8.0pt; 
                         font-family:Verdana; 
                         color:#000066; 
                         font-weight:bold;  }
p.cntheade { 
            margin-right:0in; 
            margin-left:0in; 
            font-size:9.0pt; 
            font-family:Verdana; 
            color:#000000; 
            font-weight:bold;  }
LI.p-cntheade { 
               font-size:9.0pt; 
               font-family:Verdana; 
               color:#000000; 
               font-weight:bold;  }
p.MAINTEXT { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:12.0pt; 
            margin-left:.8in; 
            text-align:justify; 
            font-size:12.0pt; 
            font-family:Futura Lt BT; 
            color:windowtext; 
            letter-spacing:-.25pt;  }
LI.p-MAINTEXT { 
               text-align:justify; 
               font-size:12.0pt; 
               font-family:Futura Lt BT; 
               color:windowtext; 
               letter-spacing:-.25pt;  }
span.MAINTEXT { 
               font-family:Futura Lt BT; 
               letter-spacing:-.25pt;  }
p.TitlePageText { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:12.0pt; 
                 margin-left:0in; 
                 text-align:center; 
                 font-size:12.0pt; 
                 font-family:Garamond; 
                 font-variant:small-caps; 
                 color:windowtext; 
                 letter-spacing:-.25pt;  }
LI.p-TitlePageText { 
                    text-align:center; 
                    font-size:12.0pt; 
                    font-family:Garamond; 
                    font-variant:small-caps; 
                    color:windowtext; 
                    letter-spacing:-.25pt;  }
p.inthead { 
           margin-top:12.0pt; 
           margin-right:0in; 
           margin-bottom:6.0pt; 
           margin-left:.5in; 
           font-size:11.0pt; 
           font-family:Arial; 
           color:windowtext; 
           font-weight:bold; 
           font-style:italic;  }
LI.p-inthead { 
              font-size:11.0pt; 
              font-family:Arial; 
              color:windowtext; 
              font-weight:bold; 
              font-style:italic;  }
span.CharChar2 { 
                font-family:Arial; 
                font-weight:bold;  }
p.redongoing { 
              margin-top:0in; 
              margin-right:.75in; 
              margin-bottom:6.0pt; 
              margin-left:.75in; 
              border:none; 
              padding:0in; 
              font-size:9.0pt; 
              font-family:Arial; 
              color:#ff0000;  }
LI.p-redongoing { 
                 font-size:9.0pt; 
                 font-family:Arial; 
                 color:#ff0000;  }
span.CharCharBodyTextCharChar1BodyTextChar1CharChar1BodyTextCharCharCharChar1BodyTextChar1CharCharCharChar1BodyTextCharCharCharCharCharChar1CharCharCharCharCharCharChar1CharChar1CharCharCharCharChar1 {  }
span.specialist { 
                 font-family:Arial; 
                 font-weight:bold;  }
span.CharChar1 { 
                font-family:Arial; 
                font-weight:bold;  }
span.BodyTextCharCharBodyTextChar1CharCharBodyTextCharCharCharCharBodyTextChar1CharCharCharCharBodyTextCharCharCharCharCharCharCharCharCharCharCharCharCharCharChar1 {  }
p.Style1 { 
          margin-top:0in; 
          margin-right:.5in; 
          margin-bottom:6.0pt; 
          margin-left:0in; 
          font-size:11.0pt; 
          font-family:Times New Roman; 
          color:windowtext;  }
LI.p-Style1 { 
             font-size:11.0pt; 
             font-family:Times New Roman; 
             color:windowtext;  }
p.StyleBodyTextIndentLeft05 { 
                             margin-top:0in; 
                             margin-right:0in; 
                             margin-bottom:6.0pt; 
                             margin-left:.5in; 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
LI.p-StyleBodyTextIndentLeft05 { 
                                punctuation-wrap:simple; 
                                text-autospace:none; 
                                font-size:11.0pt; 
                                font-family:Times New Roman; 
                                color:windowtext;  }
p.whs8 { 
        margin:0in; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-family:Tahoma; 
        color:windowtext;  }
LI.p-whs8 { 
           font-size:10.0pt; 
           font-family:Tahoma; 
           color:windowtext;  }
p.whs51 { 
         margin:0in; 
         margin-bottom:.0001pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs51 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs9 { 
        margin:0in; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-family:Tahoma; 
        color:windowtext;  }
LI.p-whs9 { 
           font-size:10.0pt; 
           font-family:Tahoma; 
           color:windowtext;  }
p.whs52 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:24.0pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext; 
         font-weight:bold;  }
LI.p-whs52 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext; 
            font-weight:bold;  }
p.whs53 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:24.0pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs53 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs57 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:.4in; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs57 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs58 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:2.4pt; 
         margin-left:.4in; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs58 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs17 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:24.0pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs17 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs60 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:48.0pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs60 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs7 { 
        margin:0in; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-family:Tahoma; 
        color:windowtext; 
        font-weight:bold;  }
LI.p-whs7 { 
           font-size:10.0pt; 
           font-family:Tahoma; 
           color:windowtext; 
           font-weight:bold;  }
p.whs11 { 
         margin:0in; 
         margin-bottom:.0001pt; 
         font-size:12.0pt; 
         font-family:Tahoma; 
         color:#000000; 
         font-weight:bold;  }
LI.p-whs11 { 
            font-size:12.0pt; 
            font-family:Tahoma; 
            color:#000000; 
            font-weight:bold;  }
p.whs12 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:.1in; 
         font-size:12.0pt; 
         font-family:Tahoma; 
         color:#000000; 
         font-weight:bold;  }
LI.p-whs12 { 
            font-size:12.0pt; 
            font-family:Tahoma; 
            color:#000000; 
            font-weight:bold;  }
p.whs15 { 
         margin:0in; 
         margin-bottom:.0001pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:#000000;  }
LI.p-whs15 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:#000000;  }
p.whs6 { 
        margin:0in; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-family:Tahoma; 
        color:windowtext;  }
LI.p-whs6 { 
           font-size:10.0pt; 
           font-family:Tahoma; 
           color:windowtext;  }
p.whs4 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:4.5pt; 
        margin-left:0in; 
        font-size:10.0pt; 
        font-family:Arial; 
        color:windowtext;  }
LI.p-whs4 { 
           font-size:10.0pt; 
           font-family:Arial; 
           color:windowtext;  }
p.whs10 { 
         margin:0in; 
         margin-bottom:.0001pt; 
         text-indent:.2in; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs10 { 
            text-indent:.2in; 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs13 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:.0001pt; 
         margin-left:.2in; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext;  }
LI.p-whs13 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext;  }
p.whs14 { 
         margin:0in; 
         margin-bottom:.0001pt; 
         font-size:10.0pt; 
         font-family:Tahoma; 
         color:windowtext; 
         font-weight:bold; 
         text-underline:single; 
         text-decoration:underline;  }
LI.p-whs14 { 
            font-size:10.0pt; 
            font-family:Tahoma; 
            color:windowtext; 
            font-weight:bold; 
            text-underline:single; 
            text-decoration:underline;  }
span.m1 { 
         color:#0000ff;  }
span.t1 { 
         color:#990000;  }
span.tx1 { 
          font-weight:bold;  }
p.msolistparagrap { 
                   margin-right:0in; 
                   margin-left:0in; 
                   font-size:12.0pt; 
                   font-family:Times New Roman; 
                   color:windowtext;  }
LI.p-msolistparagrap { 
                      font-size:12.0pt; 
                      font-family:Times New Roman; 
                      color:windowtext;  }
span.subtitleblueblodtext1 { 
                            font-family:Arial; 
                            color:#046380; 
                            font-weight:bold; 
                            text-underline:none; 
                            text-line-through:none; 
                            text-decoration:none;  }
span.BodyTextFirstIndent {  }
p.hyperlinkmask { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:.5in; 
                 punctuation-wrap:simple; 
                 text-autospace:none; 
                 font-size:11.0pt; 
                 font-family:Times New Roman; 
                 color:#0000ff; 
                 text-underline:single; 
                 text-decoration:underline;  }
LI.p-hyperlinkmask { 
                    punctuation-wrap:simple; 
                    text-autospace:none; 
                    font-size:11.0pt; 
                    font-family:Times New Roman; 
                    color:#0000ff; 
                    text-underline:single; 
                    text-decoration:underline;  }
span.BodyTextIndent {  }
span.hyperlinkmask { 
                    color:#0000ff; 
                    text-underline:single; 
                    text-decoration:underline;  }
span.msoIns { 
             text-underline:single; 
             color:#008080; 
             text-decoration:underline;  }
span.msoDel { 
             color:#ff0000; 
             text-decoration:line-through;  }
span.msoChangeProp {  }
lfo7 { 
      margin-left:0in; 
      text-indent:0in;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
p.Inlineinthead { 
                 margin-top:12.0pt; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:.25in; 
                 font-size:11.0pt; 
                 font-family:Arial; 
                 color:windowtext; 
                 font-weight:bold; 
                 font-style:italic;  }
LI.p-Inlineinthead { 
                    font-size:11.0pt; 
                    font-family:Arial; 
                    color:windowtext; 
                    font-weight:bold; 
                    font-style:italic;  }
p.InlineBodyTextIndent { 
                        margin-top:0in; 
                        margin-right:0in; 
                        margin-bottom:6.0pt; 
                        margin-left:.25in; 
                        punctuation-wrap:simple; 
                        text-autospace:none; 
                        font-size:10.0pt; 
                        font-family:Arial; 
                        color:windowtext;  }
LI.p-InlineBodyTextIndent { 
                           punctuation-wrap:simple; 
                           text-autospace:none; 
                           font-size:10.0pt; 
                           font-family:Arial; 
                           color:windowtext;  }
p.InlineNormal7 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:.0001pt; 
                 margin-left:0in; 
                 font-size:9.0pt; 
                 font-family:Arial; 
                 color:#000000; 
                 font-weight:bold; 
                 font-style:italic;  }
LI.p-InlineNormal7 { 
                    font-size:9.0pt; 
                    font-family:Arial; 
                    color:#000000; 
                    font-weight:bold; 
                    font-style:italic;  }
p.Inlinethead2 { 
                margin-top:12.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                font-size:11.0pt; 
                font-family:Arial; 
                color:windowtext; 
                font-weight:bold; 
                font-style:normal;  }
LI.p-Inlinethead2 { 
                   font-size:11.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:bold; 
                   font-style:normal;  }
p.InlineBodyTextIndent6 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:1.0in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext; 
                         font-weight:bold;  }
LI.p-InlineBodyTextIndent6 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext; 
                            font-weight:bold;  }
p.InlineNormal1 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:.25in; 
                 font-size:11.0pt; 
                 font-family:Times New Roman; 
                 color:windowtext;  }
LI.p-InlineNormal1 { 
                    font-size:11.0pt; 
                    font-family:Times New Roman; 
                    color:windowtext;  }
p.Inlinethead { 
               margin-top:12.0pt; 
               margin-right:0in; 
               margin-bottom:6.0pt; 
               margin-left:0in; 
               font-size:11.0pt; 
               font-family:Arial; 
               color:windowtext; 
               font-weight:bold; 
               font-style:italic;  }
LI.p-Inlinethead { 
                  font-size:11.0pt; 
                  font-family:Arial; 
                  color:windowtext; 
                  font-weight:bold; 
                  font-style:italic;  }
p.InlineBodyTextIndent28 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.25in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          text-indent:-.25in; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent28 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             text-indent:-.25in; 
                             font-weight:bold;  }
p.Inlineinthead3 { 
                  margin-top:12.0pt; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:.5in; 
                  font-size:11.0pt; 
                  font-family:Arial; 
                  color:windowtext; 
                  font-weight:bold; 
                  font-style:normal;  }
LI.p-Inlineinthead3 { 
                     font-size:11.0pt; 
                     font-family:Arial; 
                     color:windowtext; 
                     font-weight:bold; 
                     font-style:normal;  }
p.InlineBodyTextIndent27 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.25in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent27 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.Inlinemsolistparagrap { 
                         margin-right:0in; 
                         margin-left:0.5in; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext; 
                         margin-top:5.0pt; 
                         margin-bottom:6.0pt;  }
LI.p-Inlinemsolistparagrap { 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext;  }
p.InlineNormal2 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:.0001pt; 
                 margin-left:0.8in; 
                 font-size:10.0pt; 
                 font-family:Arial; 
                 color:windowtext;  }
LI.p-InlineNormal2 { 
                    font-size:10.0pt; 
                    font-family:Arial; 
                    color:windowtext;  }
p.InlineBodyTextIndent10 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent10 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.InlineBodyTextIndent1 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:.25in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:11.0pt; 
                         font-family:Times New Roman; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent1 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:11.0pt; 
                            font-family:Times New Roman; 
                            color:windowtext;  }
p.InlineNormal3 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:.25in; 
                 font-size:10.0pt; 
                 font-family:Arial; 
                 color:windowtext;  }
LI.p-InlineNormal3 { 
                    font-size:10.0pt; 
                    font-family:Arial; 
                    color:windowtext;  }
p.Inlineinthead4 { 
                  margin-top:0in; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:0.8in; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:windowtext; 
                  font-weight:normal; 
                  font-style:normal;  }
LI.p-Inlineinthead4 { 
                     font-size:10.0pt; 
                     font-family:Arial; 
                     color:windowtext; 
                     font-weight:normal; 
                     font-style:normal;  }
p.InlineBodyTextIndent4 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:1.5in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent4 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext;  }
p.InlineBodyTextIndent7 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:1.0in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:11.0pt; 
                         font-family:Times New Roman; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent7 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:11.0pt; 
                            font-family:Times New Roman; 
                            color:windowtext;  }
p.InlineBodyTextIndent8 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:.5in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent8 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext;  }
p.InlineNormal4 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:.0001pt; 
                 margin-left:0in; 
                 font-size:9.0pt; 
                 font-family:Arial; 
                 color:#000000; 
                 font-weight:bold;  }
LI.p-InlineNormal4 { 
                    font-size:9.0pt; 
                    font-family:Arial; 
                    color:#000000; 
                    font-weight:bold;  }
p.Inlinethead3 { 
                margin-top:6.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:.25in; 
                font-size:11.0pt; 
                font-family:Arial; 
                color:windowtext; 
                font-weight:bold; 
                font-style:italic;  }
LI.p-Inlinethead3 { 
                   font-size:11.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:bold; 
                   font-style:italic;  }
p.InlineBodyTextIndent9 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:1.8in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent9 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext;  }
p.InlineBodyTextIndent5 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:.75in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext; 
                         font-weight:bold; 
                         font-style:italic;  }
LI.p-InlineBodyTextIndent5 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext; 
                            font-weight:bold; 
                            font-style:italic;  }
p.InlineBodyTextIndent11 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:.0001pt; 
                          margin-left:.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          margin:0in;  }
LI.p-InlineBodyTextIndent11 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent12 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.25in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent12 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent13 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent13 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineNormal5 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:0in; 
                 font-size:10.0pt; 
                 font-family:Arial; 
                 color:windowtext;  }
LI.p-InlineNormal5 { 
                    font-size:10.0pt; 
                    font-family:Arial; 
                    color:windowtext;  }
p.InlineBodyTextIndent14 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent14 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent15 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent15 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
p.InlineBodyTextIndent16 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:1.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent16 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
p.InlineBodyTextIndent17 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent17 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.Inlinemsolistparagrap1 { 
                          margin-right:0in; 
                          margin-left:0.5in; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          margin-top:0in; 
                          margin-bottom:6.0pt;  }
LI.p-Inlinemsolistparagrap1 { 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.Inlinethead4 { 
                margin-top:12.0pt; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:0in; 
                font-size:11.0pt; 
                font-family:Arial; 
                color:windowtext; 
                font-weight:bold; 
                font-style:italic;  }
LI.p-Inlinethead4 { 
                   font-size:11.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:bold; 
                   font-style:italic;  }
p.InlineBodyTextIndent18 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:1.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent18 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
p.InlineBodyTextIndent19 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.75in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent19 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent20 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent20 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineNormal6 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:.0001pt; 
                 margin-left:0in; 
                 font-size:9.0pt; 
                 font-family:Arial; 
                 color:#000000;  }
LI.p-InlineNormal6 { 
                    font-size:9.0pt; 
                    font-family:Arial; 
                    color:#000000;  }
p.InlineBodyTextIndent21 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:.0001pt; 
                          margin-left:.5in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent21 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent22 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0.8in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent22 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineBodyTextIndent23 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0.8in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent23 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
p.InlineBodyTextIndent24 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent24 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
p.InlineBodyTextIndent25 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent25 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.InlineNormal { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                font-size:10.0pt; 
                font-family:Arial; 
                color:windowtext;  }
LI.p-InlineNormal { 
                   font-size:10.0pt; 
                   font-family:Arial; 
                   color:windowtext;  }
p.InlineBodyTextIndent26 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:1.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent26 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.InlineBodyTextIndent3 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:1.0in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext;  }
LI.p-InlineBodyTextIndent3 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext;  }
p.InlineBodyTextIndent2 { 
                         margin-top:0in; 
                         margin-right:0in; 
                         margin-bottom:6.0pt; 
                         margin-left:.5in; 
                         punctuation-wrap:simple; 
                         text-autospace:none; 
                         font-size:10.0pt; 
                         font-family:Arial; 
                         color:windowtext; 
                         font-weight:bold;  }
LI.p-InlineBodyTextIndent2 { 
                            punctuation-wrap:simple; 
                            text-autospace:none; 
                            font-size:10.0pt; 
                            font-family:Arial; 
                            color:windowtext; 
                            font-weight:bold;  }
p.InlineDefault { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 text-autospace:none; 
                 font-size:9.0pt; 
                 font-family:Arial; 
                 color:#000000; 
                 font-weight:bold;  }
LI.p-InlineDefault { 
                    text-autospace:none; 
                    font-size:9.0pt; 
                    font-family:Arial; 
                    color:#000000; 
                    font-weight:bold;  }
p.InlineNormal8 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:.0001pt; 
                 margin-left:0in; 
                 font-size:11.0pt; 
                 font-family:Times New Roman; 
                 color:windowtext;  }
LI.p-InlineNormal8 { 
                    font-size:11.0pt; 
                    font-family:Times New Roman; 
                    color:windowtext;  }
p.InlineBodyTextIndent29 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:1.3in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:10.0pt; 
                          font-family:Arial; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent29 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:10.0pt; 
                             font-family:Arial; 
                             color:windowtext;  }
p.Inlinethead1 { 
                margin-top:12.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:.25in; 
                font-size:11.0pt; 
                font-family:Arial; 
                color:windowtext; 
                font-weight:bold; 
                font-style:normal;  }
LI.p-Inlinethead1 { 
                   font-size:11.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:bold; 
                   font-style:normal;  }
p.InlineNormal9 { 
                 margin-top:0in; 
                 margin-right:0in; 
                 margin-bottom:6.0pt; 
                 margin-left:0.8in; 
                 font-size:10.0pt; 
                 font-family:Arial; 
                 color:windowtext;  }
LI.p-InlineNormal9 { 
                    font-size:10.0pt; 
                    font-family:Arial; 
                    color:windowtext;  }
p.InlineBodyTextIndent30 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold;  }
LI.p-InlineBodyTextIndent30 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold;  }
p.InlineBodyTextIndent31 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:0in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:9.0pt; 
                          font-family:Arial; 
                          color:windowtext; 
                          font-weight:bold; 
                          font-style:italic;  }
LI.p-InlineBodyTextIndent31 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:9.0pt; 
                             font-family:Arial; 
                             color:windowtext; 
                             font-weight:bold; 
                             font-style:italic;  }
p.Inlinethead5 { 
                margin-top:12.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:.25in; 
                font-size:10.0pt; 
                font-family:Arial; 
                color:windowtext; 
                font-weight:normal; 
                font-style:normal;  }
LI.p-Inlinethead5 { 
                   font-size:10.0pt; 
                   font-family:Arial; 
                   color:windowtext; 
                   font-weight:normal; 
                   font-style:normal;  }
p.Inlineinthead9 { 
                  margin-top:12.0pt; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:.75in; 
                  font-size:11.0pt; 
                  font-family:Arial; 
                  color:windowtext; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.p-Inlineinthead9 { 
                     font-size:11.0pt; 
                     font-family:Arial; 
                     color:windowtext; 
                     font-weight:bold; 
                     font-style:italic;  }
p.InlineBodyTextIndent32 { 
                          margin-top:0in; 
                          margin-right:0in; 
                          margin-bottom:6.0pt; 
                          margin-left:.75in; 
                          punctuation-wrap:simple; 
                          text-autospace:none; 
                          font-size:11.0pt; 
                          font-family:Times New Roman; 
                          color:windowtext;  }
LI.p-InlineBodyTextIndent32 { 
                             punctuation-wrap:simple; 
                             text-autospace:none; 
                             font-size:11.0pt; 
                             font-family:Times New Roman; 
                             color:windowtext;  }
P.Preformatted { 
                line-height:normal; 
                x-text-tab-stops:repeat 1in; 
                white-space:nowrap; 
                color:windowtext; 
                font-family:Arial Unicode MS; 
                font-size:10.0pt; 
                margin-left:0in; 
                margin-bottom:6.0pt; 
                margin-right:0in; 
                margin-top:0in;  }
LI.P-Preformatted { 
                   line-height:normal; 
                   x-text-tab-stops:repeat 1in; 
                   white-space:nowrap; 
                   color:windowtext; 
                   font-family:Arial Unicode MS; 
                   font-size:10.0pt;  }
P.Style2 {  }
LI.P-Style2 {  }
P.Style3 {  }
LI.P-Style3 {  }
P.blockhead { 
             margin-right:.5in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             color:windowtext; 
             font-weight:bold; 
             font-style:normal; 
             font-family:Arial, sans-serif; 
             font-size:11pt; 
             margin-top:25.5pt;  }
LI.P-blockhead { 
                color:windowtext; 
                font-weight:bold; 
                font-style:normal; 
                font-family:Arial, sans-serif; 
                font-size:11pt;  }
P.Style4 {  }
LI.P-Style4 {  }
