/*ZD 100147 Start*/
/* Copyright (C) 2015 RMT - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the RMT license.
*
* You should have received a copy of the RMT license with
* this file. If not, please write to: sales@RMT.com, or visit: www.RMT.com
*/
/*ZD 100147 ZD 100886 End*/
.breadcrumb {
	list-style-type: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #8760c1;
	border-width: 1px 0px;
	height: 19px;
}
.breadcrumb li.first {
	border-left: 1px solid #8760c1;
}

.sidebar {
	margin: 0px 10px 30px 30px;
	clear: right;
	float: right;
	width: 134px;
	border: 1px solid #8760c1;
	background-color: #ccaaff;
	padding: 5px;
	font-size: 11px;
    font-family: 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif;
    -moz-border-radius: 0px 10px 0px 10px;
    
}


.night
{
	background-color: #FF6A6A;
	
}
.evening
{
	background-color: #FFFFAA;
	
}
.day
{
	background-color: #7CCD7C;
	
}

.bordermeetingstyle
{
	border: 1px solid #3300ff;  
	
}
.conferencegrid
{
	background-color: #3300ff;  
	
}
.head 
{
	background-color: #9999ff;
	
}

.MeetingTime
{
	color: #0000ff;
	background-color: #ffffff;
	
}

.MeetingDate
{
	color: #0000ff;
	background-color: #ffffff;
	
}
.borderstyle
{
	
	color: #3333ff;
	
}

.linkcolor
{
	
	color: #33ffff;
	
}
.linkcoloroff
{
	
	color: #cccc99;
	
}

.conferenceSched	
{	
	background-color: #3300ff;  
	
}	
.moresuitSched	
{	
	background-color: #7CCD7C;  
	
}	
.plainconfDate	
{	
	background-color: #ccccff;  
	
}	
.passSched	
{	
	background-color: #7CCD7C;  
	
}	
	
